.movie {
    width: calc(100% / 3 - 48px);
    background-color: rgb(252, 250, 238, 0.8);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease;
}

img {
    width: 100%;
    height: auto;
}

.movie__info {
    text-align: center;
    margin-bottom: 8px;
    font-size: 14px;
    color: #507687;
}

.movie__info--title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 4px 0;
    color: #384B70;
}

.movie:hover {
    transform: scale(1.05);
    border: 3px solid rgb(184, 0, 31);
}