.results-container {
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - 48px);
    background-color: rgb(252, 250, 238, 0.8);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, border 0.3s ease;
}

.movie__img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.movie__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 8px;
    font-size: 14px;
    color: #507687;
    height: 72px;
}

.movie__info--title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 4px 0;
    color: #384B70;
    text-align: center;
}

.movie:hover {
    transform: scale(1.04);
    border: 3px solid rgb(184, 0, 31);
}